@import "tailwindcss";

@theme {
  --breakpoint-tablet: 800px;
  --breakpoint-mobile: 500px;
}

:root {
  font-family: "Montserrat", sans-serif; 
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #F2F7F8;
}

a{
  color:#3D4F60;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
}

a:hover{
  color: rgb(17, 71, 207);
}